.header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: rgb(39, 39, 39);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
