.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}

.field label {
  text-align: center;
}

.field input,
.field textarea {
  margin-top: 10px;
  padding: 10px;
}

.field textarea {
  font-family: inherit;
  display: block;
  min-width: 400px;
  min-height: 400px;
}
