@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 250, 243);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

.pageTitle {
  @apply m-6 text-4xl font-bold;
}

button {
  @apply bg-amber-500 cursor-pointer text-slate-100 rounded;
  padding: 10px 20px;
  font-weight: 500;
}

button:hover {
  @apply bg-amber-600 text-white;
}

input,
textarea {
  @apply p-3 pl-4 pr-4 mt-2 bg-slate-100 border-slate-300 border rounded text-slate-800;
}

textarea {
  @apply min-h-[300px];
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @apply bg-amber-400 text-slate-900 cursor-pointer;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  @apply bg-amber-300 text-slate-900;
  outline: none;
}
